!!! 5 
%html
%head
	%title Notify
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
	
%body
	%navbar.transparent
		%navbar-inner
			.container
				.navbar-brand
					%h1= link_to "Notify", root_path
				- if professor_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "New Notification", new_notification_path
					
						%li= link_to "Sign Out", destroy_professor_session_path, method: :delete
				- else 
					%ul.nav.navbar-nav.navbar-right					
						%li= link_to "Sign In", new_professor_session_path
		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
	= yield
